<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@hackernews">

  <title>hackernews</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<td>

<tr><h1>we will send your the latest hacker news</h1></tr>
</td>
<h1>follow us in weichat (weichat:hackernews)</h1>
<p>by <a target="_blank" href="http://weibo.com/u/2511496880">@hackernews</a></p>
<td>
<tr><img height=150 width=150 src="../static/binaryCode.jpg"></tr>
<td><h2>e-mail:moon_well@live.cn </h2><td>
</tr>
</td>
</body>
</html>
